<style>
  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }

  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }

  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }

  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }

  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }

    50%,
    100% {
      top: 19px;
      height: 26px;
    }
  }

  .lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }

  .lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }

  .lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
  }

  .lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
  }

  .lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
  }

  .lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
  }

  .lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
  }

  .lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
  }

  @keyframes lds-grid {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }
</style>
<div class="row">
  <div class="col-lg-12">
    <section class="widget">
      <div class="row">
        <div class="col-lg-6">
          <div id="container" style=" min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;"></div>
        </div>
        <div class="col-lg-6">
          <div id="containerDetail" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;"></div>
        </div>
      </div>
    </section>
    <section class="widget">
      <header>
        <h4>
          Vidio.com Voucher List
          <small> </small>
        </h4>
        <div class="widget-controls">
          <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
          <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
      </header>
      <div class="body">
        <div class="button-group">
          <button class="btn-primary btn" onclick="openModal('add')">
            <i class="glyphicon glyphicon-plus"></i> Add Voucher
          </button>
          <button class="btn-default btn" data-toggle="modal" data-target="#modalFormExcel">
            <i class="glyphicon glyphicon-upload"></i> Upload Voucher (Excel)
          </button>
        </div>
        <div class="table-responsive well">
          <form action="javascript:void(0);" method="GET" id="frmFilter">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="denom" class="control-label">
                    Denomination
                  </label>
                  <select name="denom" class="form-control" id="denom">
                    <option value="VID1">VID1</option>
                    <option value="VID2">VID2</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="periodStart" class="control-label">
                    Start Date Purchase
                  </label>
                  <input type="date" class="form-control" name="periodStart" id="periodStart" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="periodStart" class="control-label">
                    End Date Purchase
                  </label>
                  <input type="date" class="form-control" name="periodEnd" id="periodEnd" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <button style="margin-top: 22px" class="btn btn-primary" type="submit">
                    Filter
                  </button>
                  <button style="margin-top: 22px" class="btn btn-default" onclick="getData()" type="reset">
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </form>
          <table class="table table-hover dataTableCustom">
            <thead>
              <tr>
                <th>#</th>
                <th>Serial Number</th>
                <th>Refill ID</th>
                <th>Upload Date</th>
                <th>Status</th>
                <th style="width: 120px">Status Voucher</th>
                <th style="width: 100px">Action</th>
              </tr>
            </thead>
            <tbody id="tblBody"></tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- page application js -->
<script src="js/index.js"></script>
<script src="js/chat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>
<script>
  $excelJsonSubmit = "";
  //Get URL
  var webAddress = {};
  var param_values = {};
  var protocol = "";
  var resourceAddress = {
    fullAddress: function () {
      var addressBar = window.location.href;
      if (addressBar != "" && addressBar != "undefined") {
        webAddress["href"] = addressBar;
      }
    },
    protocol_identifier: function () {
      resourceAddress.fullAddress();
      protocol = window.location.protocol.replace(":", "");
      if (protocol != "" && protocol != "undefined") {
        webAddress["protocol"] = protocol;
      }
    },
    domain: function () {
      resourceAddress.protocol_identifier();
      var domain = window.location.hostname;
      if (
        domain != "" &&
        domain != "undefined" &&
        typeOfVar(domain) === "string"
      ) {
        webAddress["domain"] = domain;
        var port = window.location.port;
        if (
          (port == "" || port == "undefined") &&
          typeOfVar(port) === "string"
        ) {
          if (protocol == "http") port = "80";
          if (protocol == "https") port = "443";
        }
        webAddress["port"] = port;
      }
    },
    pathname: function () {
      resourceAddress.domain();
      var resourcePath = window.location.pathname;
      if (resourcePath != "" && resourcePath != "undefined") {
        webAddress["resourcePath"] = resourcePath;
      }
    },
    params: function () {
      resourceAddress.pathname();
      var v_args = location.search.substring(1).split("&");
      if (v_args != "" && v_args != "undefined")
        for (var i = 0; i < v_args.length; i++) {
          var pair = v_args[i].split("=");
          if (typeOfVar(pair) === "array") {
            param_values[decodeURIComponent(pair[0])] = decodeURIComponent(
              pair[1]
            );
          }
        }
      webAddress["params"] = param_values;
    },
    hash: function () {
      resourceAddress.params();
      var fragment = window.location.hash.substring(1);
      if (fragment != "" && fragment != "undefined")
        webAddress["hash"] = fragment;
    },
  };
  resourceAddress.hash();
  $(document).ready(function () {
    runPages();
    if (param_values.err == "1") {
      // alert('jancoeg');
      returnErrorMessage("Your voucher code have been uploaded");
      setTimeout(() => {
        window.location.href = full_basename;
      }, 4000);
    }
    getData();
    // getChartData();
    // akhir grafik baru
    getGrafikAvailable();
    getGrafikUsed();
    $("#frmFilter").submit(function () {
      $.ajax({
        url: api_url + "Data/getVidio",
        data: {
          denom: $("#denom").val(),
          stDate: $("#periodStart").val(),
          endDate: $("#periodEnd").val(),
        },
        method: "GET",
        dataType: "json",
        beforeSend: function () {
          $(".dataTableCustom").DataTable().destroy();
          $("#tblBody").html(
            '<tr><td colspan="7"><center><div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></center></td></tr>'
          );
        },
        success: function (dt) {
          if (dt.success) {
            setDataTable(dt.data);
          } else {
            returnErrorMessage(dt.msg);
          }
        },
      });
    });
    $("#frmModalExcel").submit(function (e) {
      var data = $(this).serialize();
      e.preventDefault();
      console.log(data);
      $.ajax({
        url: api_url + "Data/saveExcel",
        dataType: "json",
        data: {
          data: JSON.stringify($excelJsonSubmit),
        },
        method: "post",
        success: function (dt) {
          if (dt.success) {
            successForm();
            toastr.success(dt.msg, "Success", {
              positionClass: "toast-top-right",
              preventDuplicates: true,
              maxOpened: 1,
              preventOpenDuplicates: true,
            });
          } else {
            returnErrorMessage(dt.msg);
          }
        },
        error: function (xhr) {
          returnErrorMessage(
            "Internal server error. Please contact administrator website. <br>" +
            xhr.status +
            " " +
            xhr.statusText
          );
        },
      });
    });
    $("#frmModal").submit(function (e) {
      e.preventDefault();
      var val = $(this).serialize();
      $.ajax({
        url: api_url + "Data/saveFormVidioo",
        data: val,
        method: "POST",
        dataType: "json",
        success: function (dt) {
          if (dt.success) {
            successForm();
            toastr.success(dt.msg, "Success", {
              positionClass: "toast-top-right",
              preventDuplicates: true,
              maxOpened: 1,
              preventOpenDuplicates: true,
            });
            $("#frmModal")[0].reset();
            $("#modalForm").modal("hide");
          } else {
            returnErrorMessage(dt.msg);
          }
        },
        error: function (xhr) {
          returnErrorMessage(
            "Internal server error. Please contact administrator website. <br>" +
            xhr.status +
            " " +
            xhr.statusText
          );
        },
      });
    });
    $("#btnDownloadTemplate").on("click", function (e) {
      e.preventDefault(); //stop the browser from following
      var valFileDownloadPath = full_basename + "TemplateExcel.xlsx";
      window.open(valFileDownloadPath, "_blank");
      // window.location.href = 'uploads/file.doc';
    });
  });
  // load grafik donat baru
  function getGrafikAvailable(t = "") {
    $.ajax({
      type: "GET",
      url: "http://150.242.111.235/newvas/index.php/NewController/getDataGrafikDonatVidio?status=0",
      dataType: "JSON",
      beforeSend: function () {
        $("#container").html(
          '<center><div class="lds-grid"><div> <br> Loading...</center>'
        );
      },
      success: function (r) {
        var data = r.data;
        // $('#total_dp').text('(' + r.total_dp + ')');
        Highcharts.chart("container", {
          chart: {
            type: "pie",
            options3d: {
              enabled: true,
              alpha: 45,
              beta: 0,
            },
            backgroundColor: "rgba(255, 255, 255, 0.0)",
          },
          exporting: {
            enabled: true,
          },
          credits: {
            enabled: false,
          },
          title: {
            text: " <b>Voucher Available </b>",
          },
          tooltip: {
            pointFormat: '<b style="font-size:20px;"><{series.name}/b>',
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: "pointer",
              innerSize: 200,
              depth: 45,
              dataLabels: {
                enabled: true,
                format: "{point.name}",
                style: {
                  fontFamily: "'Lato', sans-serif",
                  lineHeight: "16px",
                  fontSize: "16px",
                },
              },
              showInLegend: true,
            },
          },
          series: [{
            type: "pie",
            data: data,
          }, ],
        });
      },
    });
  }

  function getGrafikUsed(t = "") {
    $.ajax({
      type: "GET",
      url: "http://150.242.111.235/newvas/index.php/NewController/getDataGrafikDonatVidio?status=1",
      dataType: "JSON",
      beforeSend: function () {
        $("#containerDetail").html(
          '<center><div class="lds-grid"><div> <br> Loading...</center>'
        );
      },
      success: function (r) {
        var data = r.data;
        // $('#total_dp').text('(' + r.total_dp + ')');
        Highcharts.chart("containerDetail", {
          chart: {
            type: "pie",
            options3d: {
              enabled: true,
              alpha: 45,
              beta: 0,
            },
            backgroundColor: "rgba(255, 255, 255, 0.0)",
          },
          exporting: {
            enabled: true,
          },
          title: {
            text: " <b>Voucher Used </b>",
          },
          tooltip: {
            pointFormat: '<b style="font-size:20px;"><{series.name}/b>',
          },
          credits: {
            enabled: false,
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: "pointer",
              innerSize: 200,
              depth: 45,
              dataLabels: {
                enabled: true,
                format: "{point.name}",
                style: {
                  fontFamily: "'Lato', sans-serif",
                  lineHeight: "16px",
                  fontSize: "16px",
                },
              },
              showInLegend: true,
            },
          },
          series: [{
            type: "pie",
            data: data,
          }, ],
        });
      },
    });
  }
  // akhir load grafik donat baru
  function successForm() {
    var url = "pages/voucher/management_vidio_voucher.html",
      modul = "Voucher Vidio",
      title = "Voucher Vidio Management";
    moveUrl(url, modul, title);
  }

  function deleteVoucher(sn) {
    toastr["warning"](
      "",
      "Delete Voucher " +
      sn +
      "?<br /><br /><button data-id='" +
      sn +
      "' onclick='fndeleteVoucher()' type='button' class='btn btn-danger btnclear'>Yes</button> <button class='btn btn-inverse'>No</button>"
    );
  }

  function fndeleteVoucher() {
    var sn = $(".btnclear").data("id");
    $.ajax({
      url: api_url + "Data/deleteVoucherVidio",
      data: {
        sn: sn,
      },
      method: "POST",
      dataType: "json",
      success: function (dt) {
        if (dt.success) {
          toastr.clear();
          successForm();
          toastr.success(dt.msg, "Success", {
            positionClass: "toast-top-right",
            preventDuplicates: true,
            maxOpened: 1,
            preventOpenDuplicates: true,
          });
        } else {
          toastr.clear();
          returnErrorMessage(dt.msg);
        }
      },
      error: function (xhr) {
        returnErrorMessage(
          "Internal server error. Please contact administrator website. <br>" +
          xhr.status +
          " " +
          xhr.statusText
        );
      },
    });
  }

  function getDataEdit(sn) {
    $.ajax({
      url: api_url + "Data/getVidio",
      data: {
        sn: sn,
      },
      method: "GET",
      dataType: "json",
      success: function (dt) {
        if (dt.success) {
          openModal("edit");
          for (var i in dt.data) {
            $("#inputSerialEdit").val(dt.data[i].serialNumber);
            $("#inputSerial")
              .val(dt.data[i].serialNumber)
              .attr("disabled", true);
            $("#inputCode").val(dt.data[i].code);
            $("#inputRefill").val(dt.data[i].refillId);
            $(".statusText").attr("style", "");
            $("#inputStatus").val(dt.data[i].status);
          }
        }
      },
    });
  }

  function openModal(fn) {
    $("#modalForm").modal("show");
    if (fn == "add") {
      $("#modalForm .modal-title").html("Add New Voucher");
    }
    if (fn == "edit") {
      $("#modalForm .modal-title").html("Edit Voucher");
    }
  }

  function getData() {
    $.ajax({
      url: api_url + "Data/getVidio",
      method: "GET",
      dataType: "json",
      beforeSend: function () {
        $(".dataTableCustom").DataTable().destroy();
        $("#tblBody").html(
          '<tr><td colspan="7"><center><div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></center></td></tr>'
        );
      },
      success: function (dt) {
        if (dt.success) {
          setDataTable(dt.data);
        } else {
          returnErrorMessage(dt.msg);
        }
      },
    });
  }

  function generateChartPie(dt) {
    var totalStatusPurchased = 0;
    totalAvailable = 0;
    for (var x in dt.dataSeries) {
      if (dt.dataSeries[x].tgl != null) {
        totalStatusPurchased += parseFloat(dt.dataSeries[x].counting);
      } else {
        totalAvailable += parseFloat(dt.dataSeries[x].counting);
      }
      var obj = {};
    }
    var drillseries = [{
        name: "Used",
        id: "Used",
        data: [],
      },
      {
        name: "Available",
        id: "Available",
        data: [],
      },
    ];
    var seriesNameNya = "";
    for (var i in dt.series) {
      var nameSeries = dt.series[i].name;
      for (var x in dt.dataSeries) {
        var name = dt.dataSeries[x].name;
        if (nameSeries == name) {
          if (dt.dataSeries[x].tgl != null) {
            drillseries[0].data.push([
              dt.dataSeries[x].name,
              parseFloat(dt.dataSeries[x].counting),
            ]);
          } else {
            drillseries[1].data.push([
              dt.dataSeries[x].name,
              parseFloat(dt.dataSeries[x].counting),
            ]);
          }
        }
      }
    }
    // var seriesNameNya = "";
    // for (var i in dt.series) {
    //     var nameSeries = dt.series[i].name;
    //     for (var x in dt.dataSeries) {
    //         var name = dt.dataSeries[x].name;
    //         if (nameSeries == name) {
    //             if (dt.dataSeries[x].tgl != null) {
    //                 // drillseries[0].data.push([dt.dataSeries[x].name, parseFloat(dt.dataSeries[x].counting)]);
    //                 // obj['x'] = new Date(dt.dataSeries[x].tgl);
    //                 // obj['y'] = parseFloat(dt.dataSeries[x].counting);
    //                 if (dt.dataSeries[x].name == dt.series[i].name) {
    //                     dt.series[i].data.push([dt.dataSeries[x].name, parseFloat(dt.dataSeries[x].counting)]);
    //                     drillseries[0].data.push(dt.series[i].data);
    //                 }
    //             } else {
    //                 if (dt.dataSeries[x].name == dt.series[i].name) {
    //                     dt.series[i].data.push([dt.dataSeries[x].name, parseFloat(dt.dataSeries[x].counting)]);
    //                     drillseries[1].data.push(dt.series[i].data);
    //                 }
    //                 // drillseries[1].data.push([dt.dataSeries[x].name, parseFloat(dt.dataSeries[x].counting)]);
    //             }
    //         }
    //     }
    //     dt.series[i].data.splice(0, 1);
    // }
    genChartPie(totalAvailable, totalStatusPurchased, drillseries);
  }
  // function genChartPie(a, b, seriesDrill) {
  //   Highcharts.chart("container", {
  //     chart: {
  //       backgroundColor: "transparent",
  //       type: "pie",
  //     },
  //     title: {
  //       style: {
  //         color: "white",
  //       },
  //       text: "Voucher Usage",
  //     },
  //     tooltip: {
  //       pointFormat: "{series.name}: <b>{point.x}</b>",
  //     },
  //     plotOptions: {
  //       series: {
  //         dataLabels: {
  //           style: {
  //             color: "black",
  //           },
  //           enabled: true,
  //           format: "{point.name}: {point.x}",
  //         },
  //       },
  //       pie: {
  //         allowPointSelect: true,
  //         cursor: "pointer",
  //         depth: 35,
  //         dataLabels: {
  //           style: {
  //             color: "white",
  //           },
  //           enabled: true,
  //           format: "{point.name}",
  //         },
  //         showInLegend: true,
  //         point: {
  //           events: {
  //             legendItemClick: function (e) {
  //               if (e.target.drilldown != undefined) {
  //                 e.target.hcEvents.click[0]();
  //               } else {
  //                 return false;
  //               }
  //             },
  //           },
  //         },
  //       },
  //     },
  //     legend: {
  //       itemStyle: {
  //         color: "white",
  //       },
  //     },
  //     credits: {
  //       enabled: false,
  //     },
  //     series: [
  //       {
  //         name: "Status",
  //         colorByPoint: true,
  //         data: [
  //           {
  //             name: "Available",
  //             color: "#dfff11",
  //             y: a,
  //             drilldown: "Available",
  //             sliced: true,
  //             selected: true,
  //           },
  //           {
  //             name: "Used",
  //             color: "#008420",
  //             drilldown: "Used",
  //             y: b,
  //           },
  //         ],
  //       },
  //     ],
  //     drilldown: {
  //       series: seriesDrill,
  //     },
  //   });
  // }
  // function getChartData() {
  //   $.ajax({
  //     url: api_url + "Data/getChartData",
  //     method: "get",
  //     dataType: "json",
  //     beforeSend: function () {
  //       $("#containerDetail").html(
  //         '<center><div style="margin-top:20%;" class="lds-facebook"><div></div><div></div><div></div></div></center>'
  //       );
  //       $("#container").html(
  //         '<center><div style="margin-top:20%;" class="lds-facebook"><div></div><div></div><div></div></div></center>'
  //       );
  //     },
  //     success: function (dt) {
  //       generateChart(dt);
  //       generateChartPie(dt);
  //     },
  //   });
  // }
  function groupBy(list, keyGetter) {
    const map = new Map();
    list.forEach((item) => {
      const key = keyGetter(item);
      const collection = map.get(key);
      if (!collection) {
        map.set(key, [item]);
      } else {
        // collection.push(item);
      }
    });
    return map;
  }

  function generateChart(dt) {
    var seriesData = [];
    var grouped = groupBy(dt.dataSeries, (dd) => dd.refillId);
    console.log(grouped.get(dt.refillId));
    var seriesNameNya = "";
    for (var i in dt.series) {
      var nameSeries = dt.series[i].name;
      for (var x in dt.dataSeries) {
        var name = dt.dataSeries[x].name;
        if (nameSeries == name) {
          if (dt.dataSeries[x].tgl != null) {
            var obj = [];
            a = new Date(dt.dataSeries[x].tgl);
            // a = dt.dataSeries[x].tgl;
            b = parseFloat(dt.dataSeries[x].counting);
            dt.series[i].data.push(a, b);
            // var obj = [];
            // obj["x"] = new Date(dt.dataSeries[x].tgl);
            // obj["y"] = parseFloat(dt.dataSeries[x].counting);
            // dt.series[i].data.push(obj);
          }
        }
      }
    }
    genChart(dt.series);
  }
  // function genChart(seriesData) {
  //   var options = {
  //     chart: {
  //       renderTo: "containerDetail",
  //       // backgroundColor: 'transparent',
  //       backgroundColor: "rgba(255,255,255,.8)",
  //       type: "column",
  //     },
  //     exporting: {
  //       enabled: false,
  //     },
  //     // tooltip: {
  //     //     formatter: function () {
  //     //         return '<b>' + this.series.name + '</b><br />' +
  //     //             Highcharts.dateFormat('%e - %b - %Y',
  //     //                 new Date(this.x)) +
  //     //             ' , ' + this.y;
  //     //     }
  //     // },
  //     title: {
  //       text: "Detail Summary Google Play Voucher",
  //     },
  //     yAxis: {
  //       title: {
  //         text: "Number of Purchased Voucher",
  //       },
  //       stackLabels: {
  //         enabled: true,
  //         style: {
  //           fontWeight: "bold",
  //           color: (Highcharts.theme && Highcharts.theme.textColor) || "gray",
  //         },
  //       },
  //     },
  //     xAxis: {
  //       type: "datetime",
  //       labels: {
  //         format: "{value:%Y-%b-%e}",
  //       },
  //     },
  //     legend: {
  //       align: "right",
  //       x: -30,
  //       verticalAlign: "top",
  //       y: 25,
  //       floating: true,
  //       backgroundColor:
  //         (Highcharts.theme && Highcharts.theme.background2) || "white",
  //       borderColor: "#CCC",
  //       borderWidth: 1,
  //       shadow: false,
  //     },
  //     tooltip: {
  //       headerFormat: "<b>{point.x}</b><br />",
  //       pointFormat: "{series.name}: {point.y}<br />Total: {point.stackTotal}",
  //     },
  //     // plotOptions: {
  //     //     series: {
  //     //         label: {
  //     //             connectorAllowed: false
  //     //         },
  //     //         pointStart: 2010
  //     //     }
  //     // },
  //     plotOptions: {
  //       column: {
  //         dataLabels: {
  //           enabled: true,
  //           color:
  //             (Highcharts.theme && Highcharts.theme.dataLabelsColor) || "white",
  //         },
  //       },
  //     },
  //     series: seriesData,
  //     responsive: {
  //       rules: [
  //         {
  //           condition: {
  //             maxWidth: 500,
  //           },
  //           chartOptions: {
  //             legend: {
  //               layout: "horizontal",
  //               align: "center",
  //               verticalAlign: "bottom",
  //             },
  //           },
  //         },
  //       ],
  //     },
  //   };
  //   // options.series.push(seriesData);
  //   var chart = Highcharts.chart(options);
  //   // chart.redraw(false);
  //   console.log(options.series);
  // }
  function ExportToTable() {
    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/;
    /*Checks whether the file is a valid excel file*/
    if (regex.test($("#inputExcel").val().toLowerCase())) {
      var xlsxflag = false; /*Flag for checking whether excel is .xls format or .xlsx format*/
      if ($("#inputExcel").val().toLowerCase().indexOf(".xlsx") > 0) {
        xlsxflag = true;
      }
      /*Checks whether the browser supports HTML5*/
      if (typeof FileReader != "undefined") {
        var reader = new FileReader();
        reader.onload = function (e) {
          var data = e.target.result;
          /*Converts the excel data in to object*/
          if (xlsxflag) {
            var workbook = XLSX.read(data, {
              type: "binary",
            });
          } else {
            var workbook = XLS.read(data, {
              type: "binary",
            });
          }
          /*Gets all the sheetnames of excel in to a variable*/
          var sheet_name_list = workbook.SheetNames;
          var cnt = 0; /*This is used for restricting the script to consider only first sheet of excel*/
          sheet_name_list.forEach(function (y) {
            /*Iterate through all sheets*/
            /*Convert the cell value to Json*/
            if (xlsxflag) {
              var exceljson = XLSX.utils.sheet_to_json(workbook.Sheets[y]);
            } else {
              var exceljson = XLS.utils.sheet_to_row_object_array(
                workbook.Sheets[y]
              );
            }
            if (exceljson.length > 0 && cnt == 0) {
              $excelJsonSubmit = exceljson;
              cnt++;
            }
          });
          $("#exceltable").show();
        };
        if (xlsxflag) {
          /*If excel file is .xlsx extension than creates a Array Buffer from excel*/
          reader.readAsArrayBuffer($("#inputExcel")[0].files[0]);
        } else {
          reader.readAsBinaryString($("#inputExcel")[0].files[0]);
        }
      } else {
        alert("Sorry! Your browser does not support HTML5!");
      }
    } else {
      alert("Please upload a valid Excel file!");
    }
  }

  function setDataTable(data) {
    var no = 1,
      tblBody = $("#tblBody");
    tblBody.html("");
    for (var x in data) {
      var el = data[x],
        stat = el.status,
        statText;
      var button = "";
      if (stat == 1) {
        statText = "<label class='label label-danger'>Used</label>";
      } else if (stat == 0) {
        button +=
          '<button class="btn btn-default" onclick="getDataEdit(\'' +
          el.serialNumber +
          '\')"> <i class="glyphicon glyphicon-pencil"></i></button>' +
          "<button onclick=\"deleteVoucher('" +
          el.serialNumber +
          '\')" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>';
        statText = "<label class='label label-success'>Available</label>";
      }
      statVoucher = "<label class='label label-success'>Melon</label>";
      if (el.status_voucher == 0) {
        statVoucher = "<label class='label label-warning'>Non Melon</label>";
      }
      var tbRow =
        "<tr>" +
        "<td>" +
        no +
        "</td>" +
        "<td>" +
        el.serialNumber +
        "</td>" +
        "<td>" +
        el.refillId +
        "</td>" +
        "<td>" +
        el.tanggalUpload +
        "</td>" +
        "<td>" +
        statText +
        "</td>" +
        "<td>" +
        statVoucher +
        "</td>" +
        "<td>" +
        button +
        "</td>" +
        "</tr>";
      tblBody.append(tbRow);
      no++;
    }
    runDataTable();
  }
</script>