<div class="row">
    <div class="col-lg-12">
        <section class="widget">
            <header>
                <h4>
                    Purchase
                    <small>
                        Based on a three months data
                    </small>
                </h4>
                <div class="widget-controls">
                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i
                            class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body no-margin">
                <div id="visits-chart" class="chart visits-chart">
                    <svg></svg>
                </div>
                <div class="visits-info well well-sm">
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-users"></i> Total Traffic</div>
                            <div class="value">24 541 <i class="fa fa-caret-up color-green"></i></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-bolt"></i> Unique Visits</div>
                            <div class="value">14 778 <i class="fa fa-caret-down color-red"></i></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-plus-square"></i> Revenue</div>
                            <div class="value">$3 583.18 <i class="fa fa-caret-up color-green"></i></div>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <div class="key"><i class="fa fa-user"></i> Total Sales</div>
                            <div class="value">$59 871.12 <i class="fa fa-caret-down color-red"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="widget">
            <header>
                <h4>
                    Platform Game Sources
                    <small>
                        One month tracking
                    </small>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-plus"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-table-overflow">
                <table class="table table-striped table-lg mt-sm mb-0 sources-table">
                    <thead>
                        <tr>
                            <th class="source-col-header">Source</th>
                            <th>Amount</th>
                            <th>Change</th>
                            <th class="hidden-xs">Percent.,%</th>
                            <th>Target</th>
                            <th class="chart-col-header hidden-xs">Trend</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span class="label label-important">Gemscool</span></td>
                            <td>713</td>
                            <td><strong class="color-green">+53</strong></td>
                            <td class="hidden-xs">+12</td>
                            <td>900</td>
                            <td class="chart-cell hidden-xs">
                                <div id="direct-trend"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-primary">Steam</span></td>
                            <td>562</td>
                            <td><strong>+84</strong></td>
                            <td class="hidden-xs">+64</td>
                            <td>500</td>
                            <td class="chart-cell hidden-xs">
                                <div id="refer-trend"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-success">Google Play</span></td>
                            <td>148</td>
                            <td><strong class="color-red">-12</strong></td>
                            <td class="hidden-xs">+3</td>
                            <td>180</td>
                            <td class="chart-cell hidden-xs">
                                <div id="social-trend"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-info">Mogplay</span></td>
                            <td>653</td>
                            <td><strong class="color-green">+23</strong></td>
                            <td class="hidden-xs">+43</td>
                            <td>876</td>
                            <td class="chart-cell hidden-xs">
                                <div id="search-trend"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-default">MOL Points</span></td>
                            <td>653</td>
                            <td><strong class="color-green">+23</strong></td>
                            <td class="hidden-xs">+43</td>
                            <td>876</td>
                            <td class="chart-cell hidden-xs">
                                <div id="search-trend"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-info">Games-On</span></td>
                            <td>653</td>
                            <td><strong class="color-green">+23</strong></td>
                            <td class="hidden-xs">+43</td>
                            <td>876</td>
                            <td class="chart-cell hidden-xs">
                                <div id="search-trend"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-warning">MI-Cash</span></td>
                            <td>653</td>
                            <td><strong class="color-green">+23</strong></td>
                            <td class="hidden-xs">+43</td>
                            <td>876</td>
                            <td class="chart-cell hidden-xs">
                                <div id="search-trend"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="label label-inverse">Battlenet</span></td>
                            <td>976</td>
                            <td><strong>+101</strong></td>
                            <td class="hidden-xs">-7</td>
                            <td>844</td>
                            <td class="chart-cell hidden-xs">
                                <div id="internal-trend"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="widget large">
            <header>
                <h4>
                    Chat
                </h4>
                <div class="widget-controls">
                    <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body">
                <div id="chat" class="chat">
                    <div id="chat-messages" class="chat-messages">
                        <div class="chat-message">
                            <div class="sender pull-left">
                                <div class="icon">
                                    <img src="img/2.png" class="img-circle" alt="">
                                </div>
                                <div class="time">
                                    4 min
                                </div>
                            </div>
                            <div class="chat-message-body">
                                <span class="arrow"></span>
                                <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                <div class="text">
                                    Hey Sam, how is it going? But I must explain to you how all this mistaken
                                    idea of denouncing of a pleasure and praising pain was born
                                </div>
                            </div>
                        </div>
                        <div class="chat-message">
                            <div class="sender pull-right">
                                <div class="icon">
                                    <img src="img/1.png" class="img-circle" alt="">
                                </div>
                                <div class="time">
                                    3 min
                                </div>
                            </div>
                            <div class="chat-message-body on-left">
                                <span class="arrow"></span>
                                <div class="sender"><a href="#">Cenhelm Houston</a></div>
                                <div class="text">
                                    Pretty good. Doing my homework.. No one rejects, dislikes, or avoids
                                    pleasure itself, because it is pleasure, but because
                                </div>
                            </div>
                        </div>
                        <div class="chat-message">
                            <div class="sender pull-left">
                                <div class="icon">
                                    <img src="img/2.png" class="img-circle" alt="">
                                </div>
                                <div class="time">
                                    2 min
                                </div>
                            </div>
                            <div class="chat-message-body">
                                <span class="arrow"></span>
                                <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                <div class="text">
                                    Any chance to go out? To take a trivial example, which of us ever undertakes
                                    laborious physical exercise, except to obtain some advantage
                                </div>
                            </div>
                        </div>
                        <div class="chat-message">
                            <div class="sender pull-right">
                                <div class="icon">
                                    <img src="img/1.png" class="img-circle" alt="">
                                </div>
                                <div class="time">
                                    2 min
                                </div>
                            </div>
                            <div class="chat-message-body on-left">
                                <span class="arrow"></span>
                                <div class="sender"><a href="#">Cenhelm Houston</a></div>
                                <div class="text">
                                    .. Maybe 40-50 mins. I don't know exactly. On the other hand, we denounce
                                    with righteous indignation and dislike men who are so beguiled
                                </div>
                            </div>
                        </div>
                        <div class="chat-message">
                            <div class="sender pull-left">
                                <div class="icon">
                                    <img src="img/2.png" class="img-circle" alt="">
                                </div>
                                <div class="time">
                                    1 min
                                </div>
                            </div>
                            <div class="chat-message-body">
                                <span class="arrow"></span>
                                <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                <div class="text">
                                    Anyway sounds great! These cases are perfectly simple and easy to
                                    distinguish.
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="chat-footer row">
                        <div class="col-xs-9">
                            <input id="new-message" type="text" class="form-control input-transparent"
                                placeholder="Enter your message..">
                        </div>
                        <div class="col-xs-3">
                            <button type="button" id="new-message-btn"
                                class="btn btn-transparent btn-block">Send</button>
                        </div>
                    </footer>
                </div>
            </div>
        </section>
    </div>
    
</div>

<!-- page application js -->
<script src="js/index.js"></script>
<script src="js/chat.js"></script>